body {
  background:#EFEEEA;
  padding: 0;
  margin:0;
  height: 100%;
  width:100%;
}
h1{
  font-size: 100px;
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
  margin-top: 100px;
  color: #17152a;
}
a{text-decoration: none;
}

.flex {
  margin-top:150px;
  margin-left: 120px;
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.circle{
  width:18vw;
  height:18vw;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFD400;
  font-family:'Oxygen', sans-serif;
  font-size: 22px;
  line-height: 45px;
}
.circle a{
  color: #FFD400;
  font-weight: bold;
}
.square{
  width:18vw;
  height:18vw;
  background: #ED553B;
  display: flex;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 40px;
  animation: bounce 0.8s alternate infinite ease;
  animation-play-state: running;
  animation-delay: 0.1s;
}
.square a{
  margin-top: 126px;
  margin-left: 76px;
  color: #ED553B;
}
.square:hover a{
  color: #ED553B;
}
.square:hover{
  background: transparent;
  border: dotted #ED553B;
}
.triangle{
  width:0;
  height:0;
  border-left: 9vw solid transparent;
  border-right: 9vw solid transparent;
  border-bottom: 18vw solid #20639B;
  display: flex;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 40px;
  text-align:center;
  animation: bounce 0.8s alternate infinite ease;
  animation-play-state: running;
  animation-delay: 0.2s;
}
.triangle a{
  margin-top: 156px;
  margin-left: -39px;
  color: #20639B;
}
.triangle:hover a{
  color: #20639B;
}
.triangle:hover{
  background: transparent;
  border: dotted #20639B;
}
@keyframes bounce {
  0% {transform: translateY(0);}
  100% {transform: translateY(-22px);}
}
