body {
  background:#EFEEEA;
  padding: 0;
  margin:0;
  height: 100%;
  width:100%;
}
h1{
  font-size: 100px;
  text-align: center;
  font-family: 'Hammersmith One', sans-serif;
  margin-top: 100px;
  color: #17152a;
}
a{text-decoration: none;
}

.flex {
  margin-top:170px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 60px;
  margin-right: 60px;
}
.circle{
  width:18vw;
  height:18vw;
  background: #FFD400;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFD400;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 40px;
  animation: bounce 0.8s alternate infinite ease;
  animation-play-state: running;
}
.circle a{
  color: #FFD400;
}
.circle:hover a{
  color: #FFD400;
}
.circle:hover{
  background: transparent;
  border: dotted;
}
.square{
  width:18vw;
  height:18vw;
  background: #ED553B;
  display: flex;
  font-family: 'Hammersmith One', sans-serif;
  font-size: 40px;
  animation: bounce 0.8s alternate infinite ease;
  animation-play-state: running;
  animation-delay: 0.1s;
  justify-content: center;
  color:#ED553B;
}
.square a{
  color: #ED553B;
}
.square:hover a{
  color: #ED553B;
}
.square:hover{
  background: transparent;
  border: dotted #ED553B;
}
.triangle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family:'Oxygen', sans-serif;
  font-size: 22px;
  line-height: 45px;
  color:#20639B;
}
.triangle a{
  /* margin-top: 156px; */
  /* margin-left: -39px; */
  color: #20639B;
  text-align: center;
  font-weight: bold;
}
ul{
  margin-right: 85px;
  font-family:'Oxygen', sans-serif;
}

.shape-word{
  position: absolute;
  bottom:-60px;
  opacity: 0;
}
.shape:hover .shape-word {
  opacity:1;
}
@keyframes bounce {
  0% {transform: translateY(0);}
  100% {transform: translateY(-22px);}
}
