.hover-img {
  display:none;
  /*opacity:0;*/
  transition:5s ease;
}

.hoverme:hover .hover-img {
  /*opacity: 1;*/
  /*transform: scale(5);*/
  display: block;
  position: fixed;
  top:40%;
  left:20%;
}

a:hover {
  color:red;
}

.btn{
  padding:30px;
  background: green;
  position: fixed;
  transition: background 2s ease;
  transform: 3s ease;
  /*located navigation, do block*/
}

.btn:hover {
  background: red;
  transform: scaleY(3);
}

.next-btn{
  top: 50%;
  right: 0;
  transform: translateY(-50%);

}
.prev-btn{
  top: 50%;
  left: 0;
  transform: translateY(-50%)
}
